<h1>About Us</h1>

<%= form_tag(about_path, :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul class="items">
	<% if @items != nil %>
		<% @items.each do |item| %>
			<li>
				<%= link_to (item_image item.get('mediumimage/url'), item.get('title')), new_item_path(:title => item.get('title'), 
								  :img => item.get('largeimage/url'),
								  :price => item.get('itemattributes/listprice/formattedprice')) %>
				<b><%= item.get('itemattributes/listprice/formattedprice') %></b>
				<%= item.get('title')%>
			</li>
		<% end %>
	<% end %>
</ul>